//Transaction Type

.type {
  height: $finger-size * 4;
  overflow-y: scroll;
  div {
    @include user-select(none);
    width: 100%;
    height: $finger-size;
    color: $text;
    background: $light;
    border-top: 1px solid lighten($light, 10%);
    border-bottom: 1px solid darken($light, 10%);
    text-align: center;
    padding: $finger-size / 3;
    &:hover {
      cursor: pointer;
      background: darken($light, 5%);
    }
  }
  div.active {
    color: $text;
    background: $active;
  }
}