$finger-size: 55px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "helvetica neue", helvetica, verdana, sans-serif;
  font-weight: 200;
  letter-spacing: .1rem;
}

body {
  background: darken($light, 4%);
  margin: 0 auto;
}