//Calculator

.calculator {
  text-align: center;
  margin: $finger-size / 10 auto;
  #amount {
    text-align: right;
    font-size: 1.8rem;
    width: 70%;
    height: $finger-size;
    margin: 0 0 0 $finger-size / 10;
    vertical-align: top;
    display: inline-block;
  }
  #add {
    display: inline-block;
    outline: none;
    @include user-select(none);
    background: $active;
    color: $text;
    border: 0px;
    font-size: 1.8rem;
    height: $finger-size;
    width: $finger-size;
    border-radius: $finger-size;
    margin: 0 auto;
    padding: 0 0 5px 0;
    vertical-align: top;
    text-align: center;
    &:hover {
      cursor: pointer;
      background: darken($active, 5%);
    }
    &:active {
      background: darken($active, 5%);
    }
  }
}